# DJANGO
SECRET_KEY=
DEBUG=True
ALLOWED_HOSTS=localhost,127.0.0.1

# DATABASE
DB_NAME=postgres
DB_USER=postgres.jaihazhpqkwmawuwhzey
DB_PASSWORD=
DB_HOST=aws-1-eu-west-2.pooler.supabase.com
DB_PORT=5432

# SUPABASE
SUPABASE_STORAGE_URL=https://jaihazhpqkwmawuwhzey.supabase.co/storage/v1/s3
SUPABASE_STORAGE_KEY=
SUPABASE_STORAGE_SECRET=

# EMAIL
EMAIL_HOST_USER=pocketup.fin@gmail.com
EMAIL_HOST_PASSWORD=